<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Find your Interests</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/css/question_style.css">
</head>

<body>

<header style="background:url('images/blue.jpeg')" style="padding:6em">
  <h1>
                Erogito
  </h1>
  <span>
               A roadmap for CS
  </span>
</header>

  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q1" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q1" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q1" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q2" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q2" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q2" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q3" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q3" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q3" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q4" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q4" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q4" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q5" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q5" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q5" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q6" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q6" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q6" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q7" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q7" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q7" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q8" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q8" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q8" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q9" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q9" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q9" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
  <div>
	<h4 id="quest">Question 1</h4>
	<ul>
		<li>
			<input name="q10" checked type="radio" name="1">
			<label>Answer 1</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q10" type="radio" name="1">
			<label>Answer 2</label>
			<div class="bullet">
			</div>
		</li>
		<li>
			<input name="q10" type="radio" name="1">
			<label>Answer 3</label>
			<div class="bullet">
			</div>
		</li>
	</ul>
</div>
<br><br><br>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<footer>
  <span style="padding:2em">Erogito(C) All rights Reserved</span>
</footer>
</body>
</head>  
</body>
</html>
